.layout-container .login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
}

.layout-container .login_container .login_img {
    width: 30%;
}

.layout-container .login_container img {
    width: 100%;

}

.layout-container .login_container .login_form {
    width: 40%;
    /* padding: 50px; */
    background: #fff;
    height: 462px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.login_container .login_form .tabs {
    display: flex;
    margin-bottom: 0px;
}

.login_container .login_form .tabs button {
    flex: 1;
    padding: 20px;
    border: none;
    background: #b5d5b9;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: #072e0c;
}

.login_container .login_form .tabs button.active {
    background: #0BBC22;
    color: #fff;
}

.login_container .login_form .form {
    display: none;
    padding: 20px;
}

.login_container .login_form .form.active {
    display: block;
}

.login_container .login_form .form p {
    color: #072e0c;
    font-weight: bold;
    margin-bottom: -3px;
}

.login_container .login_form .form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.login_container .login_form .form .password {
    margin-top: 25px;
}

.login_container .login_form .form .password .show_password {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid #b5d5b9;
}

.login_container .login_form .form .password .show_password input {
    border: none;
}

/* .login_container .login_form .form input:focus{
    outline: 1px solid #0BBC22;
} */

.login_container .login_form .form .password .show_password i {
    margin-right: 10px;
    color: #072e0c;
    font-size: 18px;
    cursor: pointer;
}

.login_container .login_form .form .forget_password {
    margin-top: 20px;
    font-style: italic;
}

/* error Message  */
.login_container .login_form .form .errorMessage {
    color: red;
    font-style: italic;
    font-size: 14px;
}

.login_container .login_form .form button {
    width: 30%;
    margin-top: 30px;
    float: right;
    padding: 15px;
    font-weight: bold;
    background: #0BBC22;
    color: #fff;
    border: none;
    cursor: pointer;
}


/* Signup Form Styles */
/* .layout-container .login_form .signup-form {} */
.layout-container .signup-form {
    margin-top: 0px;
}

.layout-container .signup-form .signup_break {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.layout-container .signup-form .signup_break .username {
    width: 50%;
}

.layout-container .signup-form .signup_email {
    margin-top: 15px;
}

.layout-container .signup-form .signup_break .username input {
    width: 100%;
}

.layout-container .signup-form .signup_break .password {
    width: 50%;
    margin-top: 0px;
}

.layout-container .signup-form .signup_break .username {
    width: 50%;
}

.login_container .signup-form button {
    width: 100%;
    margin-top: 0px;
}


/* ********************************************************* */
/* market section  */
/* ********************************************************* */
.market_container {
    width: 100%;

    /* comment to take full width */
    margin: 40px;
}

.market_container .market_banner {
    background: #fff;
    padding: 20px;
    width: 100%;

    /*  */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
}

.market_container .market_banner .welcome h2 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #000;
}

.market_container .market_banner .welcome h1 {
    text-align: center;
    font-size: 52px;
    font-weight: bold;
    color: #0BBC22;
}

.market_container .market_conta {
    margin-top: 40px;
    border: 2px solid #0BBC22;
    border-radius: 3px;
    padding: 10px;
}

.market_container .market_conta .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.market_container .market_conta .navigation .navigate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.market_container .market_conta .navigation .navigate a p {
    background: #fff;
    padding: 10px 30px;
    font-weight: bold;
    color: #000;
    border: 1px solid #ccc;
}

.market_container .market_conta .navigation .navigate a p:hover {
    background: #0BBC22;
    color: #fff;
    border: none;
}

.market_container .market_conta .navigation .navigate a .active {
    background: #0BBC22;
    color: #fff;
    border: none;
}

.market_container .market_conta .navigation .navigate a p span {
    color: #0BBC22;
    margin-left: 10px;
}

.market_container .market_conta .navigation .navigate a p:hover span {
    color: #fff;
}

/* .market_container .market_conta .navigation .navigate a .active:hover{
    background: #fff;
    color: #0BBC22;
    border: none;
} */

/* ........................... */
/*  */
.market_container .market_conta .navigation form {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

    /*  */
    padding: 15px;
    border-radius: 50px;
    margin-top: -8px;
}

.market_container .market_conta .navigation form input {
    width: 90%;
    border: none;
    font-size: 17px;
    color: #000;
}

.market_container .market_conta .navigation form label i {
    padding: 15px;
    border-radius: 50%;
}

.market_container .market_conta hr {
    border: 2px solid #b5d5b9;
    width: 80%;
}


/* **************************** */
.market_container .cards_container {
    margin-top: 20px;
}


.market_container .cards_container .cards_conta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.market_container .cards_container .cards_conta .cards {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: auto 500px;
}

.market_container .cards_container .cards_conta .cards .card_img {
    width: 100%;
}

.market_container .cards_container .cards_conta .cards .card_img img {
    width: 100%;
}

.market_container .cards_container .cards_conta .cards .card_details p {
    margin: 0px;
}










/* media query  */
@media (max-width: 992px) {
    .layout-container .login_container .login_img {
        display: none;
        width: 100%;
    }

    .layout-container .login_container .login_form {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .layout-container .login_container .login_form {
        width: 80%;
    }
}



@media (max-width: 500px) {
    .layout-container .login_container .login_form {
        width: 100%;
        height: auto;
    }

    .login_container .login_form .tabs button {
        padding: 10px;
    }

    .layout-container .signup-form .signup_break {
        flex-direction: column;
        justify-self: unset;
        align-items: unset;
        width: 100%;
    }

    .layout-container .signup-form .signup_break .username {
        width: 100%;
    }

    .layout-container .signup-form .signup_break .password {
        width: 100%;
    }

    .login_container .login_form .form button {
    width: 100%;
}
}


@media (max-width: 320px) {
    .layout-container .login_container {
    padding: 15px;
}

    .layout-container .login_container .login_form {
        width: 100%;
        height: auto 100%;
    }

    .login_container .login_form .tabs button {
        padding: 5px;
    }

    .login_container .login_form .tabs button {
    padding: 10px;
}
}