



$primary : #0BBC22;
$secondary : #072e0c;
$tertiary : #b5d5b9;
$tertiary2 : #E1F0E2;

.bg-pri{
  background: $primary !important;
}
.bg-sec{
  background: $secondary !important;
}
.bg-tert{
  background: $tertiary !important;
}
.bg-ter2{
  background: $tertiary2 !important;
}


.text-pri{
  color: $primary !important;
}
.text-sec{
  color: $secondary !important;
}
.text-tert{
  color: $tertiary !important;
}
.text-ter2{
  color: $tertiary2 !important;
}

body {
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'montserrat' !important;
  font-size: 13px !important;
  background: $tertiary2 !important;
  min-height: 100vh !important;
  scroll-behavior: smooth !important;
  text-transform: capitalize !important;

  
}


//media queries
@mixin big() {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin medium() {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin small() {
  @media (max-width: 599px) {
    @content;
  }
}

.primary-color {
  color: $primary !important;
}

.sec-color {
  color: $secondary !important;
}

.main-header .main-menu ul li a{
  text-transform: uppercase !important;
}
.main-header .main-menu ul li a i {
  color: $primary !important;
}

.header-bottom .logo img {
    width:100px !important;

    @include medium(){
      width: 80px !important;
      margin-left: 10px !important;
    }
    @include small(){
      width: 70px !important;
      margin-left: 5px !important;
    }
}

.main-header .main-menu ul li.nav-li {
  font-size: 16px !important;
  color: $secondary !important;
  cursor:  pointer !important;
  font-weight: bold !important;
  padding: 39px 19px;

  font-size: 16px;

  &:hover{
    color: $primary !important;
  }
}
.main-header .main-menu ul li.nav-li i{
  color: $primary !important;
}
.main-header .main-menu ul li.active{
  color: $primary !important;
}
.header-area .header-top.d-lg-block {
  background: $primary !important;
  color: white !important;

  li,
  option,
  a {
    color: white !important;
    // font-family: 'lucida' !important;
  }
}

.header-bottom {
  background: $secondary !important;
&.sticky-bar{
  z-index: 9 !important;
}
  li{

  }
  i{
    &.active{
      color: $primary !important;
    }
  }
  a:not(.header-btn) {
    font-weight: bold !important;
    color: white !important;
    padding: 0px 10px !important;
    font-size: 13px !important;

    &:hover {
      color: $primary !important;
    }

    @include big() {
      padding: 10px 5px !important;
    }

    &.active{
      color: $primary !important;
    }

    &.donate {
      color: $primary !important;
    }
   
  }
}
 
 .slicknav_menu .slicknav_icon {
  top: -30px !important;
 } 
 .main-header .main-menu ul ul.submenu{
  margin-top: 20px;
 }     
    .main-header .main-menu ul ul.submenu > li > a:hover{
      color: $primary !important;
    }
.main-header .main-menu ul ul.submenu > li > a.active{
  color: $primary !important;
}
.main-header .main-menu ul li a i {
  margin-left: 5px;
}

.mobile_menu {
  @include big() {
    .slicknav_menu .slicknav_btn {
      margin-top: -30px !important;
    }

    .slicknav_menu .slicknav_nav a {
      color: $secondary !important;
      font-weight: bold !important;
      width: 100% !important;

      &.active {
        color: $primary !important;
      }
      &:hover {
        color: $primary !important;
      }
    }

    .slicknav_menu .slicknav_parent .submenu a {
      background: $primary !important;
      color: white !important;

      &:hover {
        background: $secondary !important; }
    }
  }

  .slicknav_nav .slicknav_arrow {
    color: $primary !important;
    font-weight: bold !important;
    float: right;
  }
}


.header-btn {
      background: $primary !important;
      color: white !important;
      padding: 15px 30px !important ;
      font-weight: bold !important;
      text-transform: uppercase !important;
    }



    .header-area .header-top .header-info-left > ul > li {
      
        font-size: 12px !important;
      
    }

  





#back-top {
  background: #f3840e;
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 48px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
  z-index: 55 !important;
  display: none !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;

  &.active {
    display: flex !important;
  }

  a {
    font-size: 15px !important;
  }

}

.goog-logo-link {
  display: none !important;
}




.goog-te-gadget-icon {
  display: none !important;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:link,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:visited,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:hover,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
  font-size: 12px;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  display: none !important;

}

//layout design
.layout-container{
 
.sidebar{
  background: whitesmoke !important;

 .qr-code{
  @include big(){
    display: none !important;
  }
 }
  nav{

    &>ul{
      &>li{
        
        &.active{
          &>span{
 background: $secondary !important;
          }

          .sub-levels{
            display: block !important;
          }
           
        }
        & > span{
 background: $primary !important;
 font-weight: bold !important;
         border-bottom: 2px solid white !important;
         color: white !important;

          
         &:hover{
        background: $secondary !important;
       
      }
          }
       
      }
    
       .sub-levels{
       

        a:hover{
          color: $primary !important;
          font-weight: bold !important;
        }
       }
         
      
       &>a{
background: $primary !important;
        }
     
    }

    .sub-levels{
 margin-bottom: 20px !important;
      padding-left: 40px !important;
      margin-top: 10px !important;
      display: none;

      li{
        list-style: disc !important;
        margin-bottom: 10px !important;
      }

      a{
 color:$secondary !important;
      }
     
    }
  }
  
}

.main-content{
  overflow-y: scroll !important;
  height: 100vh !important;

  @include big(){
   overflow: initial !important;
   height: 100% !important;
   padding: 0px !important;
  }

  &::-webkit-scrollbar{
    display: none !important;

  }
}
 
  footer{
 background-position: cover !important;
 background-repeat: no-repeat !important;
 background-size: cover !important;

    .content-types{
      display: none;
    }

    padding-top: 50px !important;
    @include big(){
      background: black !important;

      .credits{
        border-top: 2px solid white !important;

        
      }
    }
    h3{
      font-weight: bold !important;

     
    }
    .col-lg-4{
       @include big(){
        margin-top: 20px !important;
      }
       a.btn{
      padding: 20px 20px !important;
      text-align: center !important;
      width: 100% !important;
      margin-bottom: 10px !important;
      background: $primary !important;
      &.donate{
        background: #f3840e !important;
      }
       }
    }
    ul{
      margin-left: 5px !important;
      & > li{
 list-style: none !important;
 margin-bottom: 10px !important;

 span{
  color: white;

  &:hover{
    color: $primary !important;
    font-weight: bold !important;
  }
 }

 &.active{
  .sublevels{
    display: block !important;
    transition: display 0.3s ease-in-out !important;
  }
 }



 &::before{
  content: ">";
  color: white !important;
  margin-right: 10px;
  color: $primary !important;
  font-weight: bold !important;
 }

  .sublevels{
    margin-top: 10px !important;
    margin-left: 20px !important;
    margin-bottom: 10px !important;
    display: none !important;
  li{
     &::before{
      content: "-";
       color: white !important;
  margin-right: 10px;

  font-weight: bold !important;
     }

     a{
      color: #f3840e !important;

      &.active{
        font-weight: bold !important;
      }
     }
    
     
  }
 }

 a{
  &.active{
    color: $primary !important;
    font-weight: bold !important;
  }
   &:hover{
    color: $primary !important;
     font-weight: bold !important;
   }
  
 }
  .fa-chevron-down{
   margin-left: 10px !important;
   }
      }
     
    }
  }

}


 //socials 
 .header-social a i{
 width: 20px !important;
  height: 20px !important;
  color: white !important;
border-radius: 50% !important;
display: flex !important;
justify-content: center !important;
align-items: center !important;
text-align: center !important;

padding: 5px;
transition: width,height ease-in 0.1s ;
 
&:hover{
  width: 25px !important;
  height: 25px !important;
}
  
 }
 .fa-youtube{
  background: red !important;
 
 }

  .fa-twitter{
  background: dodgerblue !important;
 }
  .fa-tiktok{
  background: black !important;
 }

  .fa-instagram{
  background: rgb(248, 112, 0) !important;
  color: black !important;
 }
  .fa-facebook-f{
  background: blue !important;
 }

.preloader .preloader-img img {
  max-width: 80px !important;
  margin-bottom: 5px;
}